<!DOCTYPE html>
<html lang="en">
  
  <%-include('partials/head.ejs', {titulo}) %>
  
  <body>
    <%- include('partials/header') -%>
    <main class="container">
      <section class="item">
        <!-- PRODUCTO SELECCIONADO -->
        <picture class="item__img card-item__cover">
          <img
            class="card-item__img--front"
            src="<%= funko.img_front %>"
            alt="<%= funko.product_description %>"
          />
          <img
            class="card-item__img--back"
            src="<%= funko.img_back %>"
            alt="BOX de <%= funko.product_description %>"
          />
        </picture>
        <form action="/shop/addItem/<%= funko.product_id %>" method="POST">
          <article class="item__info">
            <p class="item__license"><%= funko.collection.collection_license %></p>
            <h3 class="item__title"><%= funko.product_name %></h3>
            <h4 class="item__content">
              <%= funko.product_description %>
            </h4>
            <h3 class="item__price">$ <%= funko.product_price %></h3>
            <div class="item__cart">
              <button id="menos" class="item__quantity" type="button">-</button>
              <input
                class="item__input"
                type="text"
                id="quantity"
                name="quantity"
                placeholder="0"
              />
              <button id="mas" class="item__quantity" type="button">+</button>
              <button class="item__submit" type="submit">
                Agregar al Carrito
              </button>
            </div>
            <p class="item__promo">
              <a class="item__promo" href="#">Ver métodos de pago</a> - 3 CUOTAS
              SIN INTERÉS
            </p>
          </article>
        </form>
      </section>
      <section class="slider container glide">
        <h2 class="slider__title">ÚLTIMOS LANZAMIENTOS</h2>
        <div class="glide__track" data-glide-el="track">
          <ul class="slider__items glide__slides">
            
              <% cards.forEach(function(card) { %>
                <li class="slider__item glide__slide">
                  <%-include('partials/card', {card}) %>
                </li>
              <% }); %>
              
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
            <iconify-icon icon="material-symbols:chevron-left"></iconify-icon>
          </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
            <iconify-icon icon="material-symbols:chevron-right"></iconify-icon>
          </button>
        </div>
      </section>
    </main>

    <%- include('partials/footer') -%>
    <%- include('partials/scripts') -%>
  </body>
</html>
