

<article class="card-item">
    <a class="card-item__link"  href="/shop/item/<%= card.product_id %>">
        <picture class="card-item__cover">
            <span class="card-item__tag"> NUEVO</span>
            <img class="card-item__img--front" 
                src="<%= card.img_front %>" 
                alt="<%= card.product_description %>" />
            <img class="card-item__img--back" 
            src="<%= card.img_back %>" 
            alt="<%= card.product_description %> en caja" />
        </picture>
        <div class="card-item__content">
            <p class="card-item__licence"><%= card.collection.collection_license %></p>
            <h3 class="card-item__name"><%= card.product_name %></h3>
            <p class="card-item__price">$ <%= card.product_price %></p>
            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
        </div>
    </a>
</article>

