
<section class="collection collection-card" aria-labelledby="collection-<%= collection.collection_id %>-title">
    <article class="collection__content">
      <h3 class="collection__title" id="collection-<%= collection.collection_id %>-title"><%= collection.collection_name %></h3>
      <p class="collection__text">
        <%= collection.collection_description %>
      </p>
      <a
        class="collection__link"
        href="/shop?collection_id=<%= collection.collection_id %>"
        >VER COLECCIÓN</a>
    </article>
    <picture class="collection__cover">
      <img
        src="<%= collection.collection_image %>"
        alt="<%= collection.collection_name %>"
      />
    </picture>
  </section>