<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head.ejs') %>
  <body>
    <%-include('partials/header.ejs') %>
    <%-include('partials/hero.ejs') %>

    <main class="main-container">

        <!-- colecciones -->
        <% collections.forEach(function(collection) { %>
            <%-include('partials/collection.ejs', {collection}) %>
        <% }); %>
        
        <!-- sliders con cards -->
      <section class="slider container glide">
        <!-- coleccion ultimos lanzamientos -->
        <h2 class="slider__title">Ultimos Lanzamientos</h2>
        <!-- slider de ultimos lanzaminetos los pongo en lista  -->
        <div class="glide__track" data-glide-el="track">
          <ul class="slider__items glide__slides">

            <% cards.forEach(function(card) { %>
              <li class="slider__item glide__slide">
                <%-include('partials/card.ejs', {card}) %>
              </li>
            <% }); %>

          </ul>
        </div>

        <%-include('partials/glide_arrows.ejs') %> 
        
      </section>
    </main>

    <%- include('partials/footer.ejs') %> 
    
    <%- include('partials/scripts.ejs') %>
  </body>
</html>
